.Entire {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TheaterName {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.MovieType {
    background-color: #ff7675;
    color: #dfe6e9;
    width: 100px;
    height: 50px;
    margin: 5px auto;
    font-size: 15px;
    font-weight: bold;
}

.MovieType:hover {
    cursor: pointer;
}

.Search {
    width: 200px;
    height: 30px;
    border: 2px solid #1e272e;
}

.SearchBtn {
    width: 50px;
    height: 40px;
    font-weight: bold;
    background-color: #ffdd59;
    border: 2px solid #1e272e;
}

.BookingList {
    background-color: #182C61;
    color: #dfe6e9;
    width: 80px;
    height: 40px;
    margin: 5px auto;
    font-size: 15px;
    font-weight: bold;
}